# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build files
build/
dist/
*.egg-info/

# MediaPipe / OpenCV temporary files
*.tmp
*.cache

# System files
*.swp
